.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.page {
  padding: 60px 30px;
  position: absolute;
  top: 0;
  width: 100vw;
}
